<div class="table-responsive border rounded bg-white">
  <h3> <%= Spree.t("seo.all_combinations") %> </h3>
  <table class="table">
    <thead>
    <tr>
      <th><%= Spree.t("seo.taxon_name") %></th>
      <th><%= Spree.t("seo.locale") %></th>
      <th><%= Spree.t("seo.filters") %></th>
      <th><%= Spree.t("seo.canonical_url") %> URL</th>
      <th>Page <%= Spree.t("seo.page_title") %></th>
      <th>Meta <%= Spree.t("seo.meta_description") %></th>
      <th class="text-center"><%= Spree.t("seo.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% taxons.each do |taxon| %>
      <% taxon.filter_combinations.each do |f| %>
        <tr>
          <td><%= taxon.pretty_name %>></td>
          <td><%= f.locale %></td>
          <td><%= f.filters.map { |k, v| "#{k}=#{v}" }.join(', ') %></td>
          <td><%= f.canonical_url %></td>
          <td><%= f.page_title %></td>
          <td><%= f.meta_description %></td>
          <td class="actions">
            <span>
              <%= link_to Spree.t("actions.edit"), spree.edit_admin_taxon_filter_combination_path(f), class: 'edit' %>
              <%= link_to Spree.t("actions.remove"), spree.admin_taxon_filter_combination_path(f),
                          method: :delete,
                          data: { confirm: Spree.t("seo.confirm_remove") },
                          class: 'remove-combination-btn' %>
            </span>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
