<div class="table-responsive border rounded bg-white">
  <h3> All filter combinations </h3>
  <table class="table">
    <thead>
    <tr>
      <th>Taxon name</th>
      <th>Locale</th>
      <th>Filters</th>
      <th>Canonical URL</th>
      <th>Page Title</th>
      <th>Meta Description</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% taxons.each do |taxon| %>
      <% taxon.filter_combinations.each do |f| %>
        <tr>
          <td><%= taxon.pretty_name %>></td>
          <td><%= f.locale %></td>
          <td><%= f.filters.map { |k, v| "#{k}=#{v}" }.join(', ') %></td>
          <td><%= f.canonical_url %></td>
          <td><%= f.page_title %></td>
          <td><%= f.meta_description %></td>
          <td class="actions">
            <span>
              <%= link_to 'Edit', spree.edit_admin_taxon_filter_combination_path(f), class: 'edit' %>
              <%= link_to 'Remove', spree.admin_taxon_filter_combination_path(f),
                          method: :delete,
                          data: { confirm: 'Are you sure you want to remove this combination?' },
                          class: 'remove-combination-btn' %>
            </span>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
