<div data-controller="taxon-filter-combination-edit">
  <div class="row">
    <div class="col-12 col-md-8">
      <div>
        <%= f.field_container :locale do %>
          <%= f.label :locale, raw(Spree.t(:locale) + required_span_tag) %>
          <%= f.select :locale, %w[en cs sk], {}, class: 'form-control title' %>
          <%= f.error_message_on :locale %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :filters do %>
          <%= f.label :filters, raw(Spree.t(:filters) + required_span_tag + " Please add filters like so: color=blue,fineness=0.01ct") %>
          <%= f.text_field :filters, class: 'form-control title', value: f.object.filters.is_a?(String) || f.object.filters.blank? ? f.object.filters : f.object.filters.map{|k,v| "#{k}=#{v}"}.join(',') %>
          <%= f.error_message_on :filters %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :canonical_url do %>
          <%= f.label :canonical_url, Spree.t(:canonical_url) %>
          <%= f.text_field :canonical_url, class: 'form-control title' %>
          <%= f.error_message_on :canonical_url %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :page_title do %>
          <%= f.label :page_title, Spree.t(:page_title) %>
          <%= f.text_field :page_title, class: 'form-control title' %>
          <%= f.error_message_on :page_title %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :meta_description do %>
          <%= f.label :meta_description, Spree.t(:meta_description) %>
          <%= f.text_field :meta_description, class: 'form-control title' %>
          <%= f.error_message_on :meta_description %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :keywords do %>
          <%= f.label :keywords, Spree.t(:keywords) %>
          <%= f.text_field :keywords, class: 'form-control title' %>
          <%= f.error_message_on :keywords %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :custom_h1 do %>
          <%= f.label :custom_h1, Spree.t(:page_title) %>
          <%= f.text_field :custom_h1, class: 'form-control title' %>
          <%= f.error_message_on :custom_h1 %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :custom_h2 do %>
          <%= f.label :custom_h2, Spree.t(:custom_h2) %>
          <%= f.text_field :custom_h2, class: 'form-control title' %>
          <%= f.error_message_on :custom_h2 %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :seo_description do %>
          <%= f.label :seo_description, Spree.t(:seo_description) %>
          <%= f.text_field :seo_description, class: 'form-control title' %>
          <%= f.error_message_on :seo_description %>
        <% end %>
      </div>

      <div>
        <%= f.field_container :priority do %>
          <%= f.label :priority, Spree.t(:priority) %>
          <%= f.text_field :priority, class: 'form-control title' %>
          <%= f.error_message_on :priority %>
        <% end %>
      </div>

      <div>
        <%= link_to t('actions.back'), admin_taxon_filter_combinations_path, class: 'btn btn-secondary me-2 mt-2' %>
        <%= f.submit t('actions.submit'), class: 'btn btn-primary me-2 mt-2' %>
      </div>
    </div>
  </div>
</div>
